
@{
    ViewBag.Title = "Actividades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>

    th, td {
        padding: 15px;
        text-align: left;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #b89133;
        color: white;
    }
</style>
<header>
    <br />
    <br />
    <br />
    <br />
    <div class="container">
        <center>
            <img src="~/Imagenes/H-Mandiola.png" width="300" height="100" />
        </center>
        <div class="container" style="overflow-x: auto;">
            <h4>Actividades</h4>
            <table id="TablaActividades" style="width: 100%">
                <tr>
                    <th>Código</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Consecutivo</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr>
                    <td>4444</td>
                    <td>Yoga</td>
                    <td>Clase para principiantes</td>
                    <td></td>
                    <td>
                        <img src="~/Imagenes/yoga.jpg" width="185" height="100" />
                    </td>
                    <td>
                        <button id="more" name="more" class="btn btn-info">Editar</button>
                    </td>
                </tr>
                <tr>
                    <td>4002</td>
                    <td>Cine</td>
                    <td>Tarde de películas para toda la familia</td>
                    <td></td>
                    <td>
                        <img src="~/Imagenes/cine.jpg" width="185" height="100" />
                    </td>
                    <td>
                        <button id="more" name="more" class="btn btn-info">Editar</button>
                    </td>
                </tr>
            </table>
            <div class="form-group">
                <label class="col-md-4 control-label" for="nuevo"></label>
                <div class="col-md-4">
                    <button id="nuevo" name="nuevo" class="btn btn-primary">Agregar nuevo</button>
                </div>
                <br />
                <br />
            </div>
        </div>
    </div>
</header>