@{
    ViewBag.Title = "Habitaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    th, td {
        padding: 15px;
        text-align: left;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #b89133;
        color: white;
    }
</style>

<header>
    <br />
    <br />
    <br />
    <br />
    <div class="table-responsive">

        <center>
            <img src="~/Imagenes/H-Mandiola.png" width="300" height="100" />
        </center>
        <br />
        <h4>Habitaciones</h4>
        <br />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Número</th>
                    <th scope="col">Tipo</th>
                    <th scope="col">Consecutivo</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>112</td>
                    <td>Normal</td>
                    <td></td>
                    <td>
                        <img src="~/Imagenes/normal.jpg" width="175" height="100" />
                    </td>
                    <td>
                        <button id="editar" name="editar" class="btn btn-secondary">Editar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>110</td>
                    <td>Deluxe</td>
                    <td></td>
                    <td>
                        <img src="~/Imagenes/deluxe.jpg" width="175" height="100" />
                    </td>
                    <td>
                        <button id="editar" name="editar" class="btn btn-secondary">Editar</button>
                    </td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>120</td>
                    <td>Condominio</td>
                    <td></td>
                    <td>
                        <img src="~/Imagenes/condominio.jpg" width="175" height="100" />
                    </td>
                    <td>
                        <button id="editar" name="editar" class="btn btn-secondary">Editar</button>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="form-group">
            <label class="col-md-4 control-label" for="nuevo"></label>
            <div class="col-md-4">
                <button id="nuevo" name="nuevo" class="btn btn-primary">Agregar nuevo</button>
            </div>
        </div>
    </div>
    <br />
    <br />

</header>
<br />