
@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}


<style>
    .carousel-item {
        height: 65vh;
        min-height: 350px;
        background: no-repeat center center scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<body>
    <br />
    <br />
    <br />
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <!-- Slide One - Set the background image for this slide in the line below -->
            <div class="carousel-item active" style="background-image: url('../Imagenes/inicio.png')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">Bienvenidos</h3>
                    <p class="lead">Puede hacer reservaciones cualquier día del año!</p>
                </div>
            </div>
            <!-- Slide Two - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://assets.hyatt.com/content/dam/hyatt/hyattdam/images/2018/10/09/1445/Grand-Hyatt-Bogota-P056-Ushin-Vista-Noche.jpg/Grand-Hyatt-Bogota-P056-Ushin-Vista-Noche.4x3.jpg?imwidth=1280')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">Restaurantes</h3>
                    <p class="lead">Múltiples opciones en gastronomía cada noche.</p>
                </div>
            </div>
            <!-- Slide Three - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://www.palafoxhoteles.com/sites/default/files/styles/big/public/habitaciones-hotel-palafox-6.jpg?itok=3J_yhJ9S')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">Habitaciones</h3>
                    <p class="lead">Vea nuestra guía y elija una habitación a su gusto.</p>
                </div>
            </div>
            <!-- Slide Four - Set the background image for this slide in the line below -->
            <div class="carousel-item" style="background-image: url('https://www.elmueble.com/medio/2017/06/29/terraza-del-hotel-pulitzer-de-barcelona_1_5c49ec89.jpg')">
                <div class="carousel-caption d-none d-md-block">
                    <h3 class="display-4">Terrazas</h3>
                    <p class="lead">Actividades al aire libre alredor de la piscina.</p>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</body>

<br />


<br />

