<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    <style>

        html {
            min-height: 100%;
            position: relative;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            margin-top:auto;
        }

        .nav li ul {
            display: none;
        }

        .dropdown-submenu > .dropdown-menu {
            top: 0;
            left: 100%;
            margin-top: -6px;
            margin-left: 1px;
            -webkit-border-radius: 0 6px 6px 6px;
            -moz-border-radius: 0 6px 6px;
            border-radius: 0 6px 6px 6px;
        }

        .dropdown-submenu:hover > .dropdown-menu {
            display: block;
        }

        .dropdown-submenu > a:after {
            display: block;
            content: " ";
            float: right;
            width: 0;
            height: 0;
            border-color: transparent;
            border-style: solid;
            border-width: 5px 0 5px 5px;
            border-left-color: #ccc;
            margin-top: 5px;
            margin-right: -10px;
        }

        .dropdown-submenu:hover > a:after {
            border-left-color: #fff;
        }

        .dropdown-submenu.pull-left {
            float: none;
        }

            .dropdown-submenu.pull-left > .dropdown-menu {
                left: -100%;
                margin-left: 10px;
                -webkit-border-radius: 6px 0 6px 6px;
                -moz-border-radius: 6px 0 6px 6px;
                border-radius: 6px 0 6px 6px;
            }

        .carousel {
            background: #2f4357;
            margin-top: 20px;
        }

        .carousel-item {
            text-align: center;
            min-height: 280px;
            height: 30vh;
            min-height: 300px;
            background: no-repeat center center scroll;
            background-size: cover;
        }

        .card-columns .card {
            display: inline-block;
            width: 100%;
        }

        .card-img-top {
            width: 100%;
            height: 1000px !important;
            border-top-right-radius: calc(0.25rem - 1px);
        }

        .bs-example {
            margin: 20px;
        }

        .dropdown-submenu {
            position: relative;
        }

        ul, ol {
            list-style: none;
        }

    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" style="background-color:rgba(184, 145, 51, 0.61) !important;">

        <div class="container">

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto" />
                <li class="nav-item dropdown" />

                <a class="nav-link dropdown-toggle" style="color: black" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Inicio
                </a>

                <ul class="dropdown-menu animate slideIn" role="menu" aria-labelledby="dropdownMenu">
                    <li class="dropdown-submenu">
                        <a class="dropdown-item" href="#">Seguridad</a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-submenu">
                                <a class="dropdown-item" href="#">Usuarios</a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" tabindex="-1" href="~/Usuario/CrearUsuario">Crear Usuario</a></li>
                                    <li><a class="dropdown-item" tabindex="-1" href="~/Usuario/VerUsuarios">Ver Usuarios</a></li>
                                </ul>

                            </li>
                            <li>
                                <a class="dropdown-item" href="~/Usuario/CambiarContraseña">Cambiar Contraseña</a>
                            </li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item" href="#">Administración</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="~/Administrador/Consecutivos">Consecutivos</a></li>
                            <li><a class="dropdown-item" href="~/Administrador/Habitaciones">Habitaciones</a></li>
                            <li><a class="dropdown-item" href="~/Administrador/Actividades">Actividades</a></li>
                            <li><a class="dropdown-item" href="~/Administrador/Precios">Precios</a></li>
                            <li><a class="dropdown-item" href="~/Administrador/EstadoClientes">Estados de los clientes</a></li>
                        </ul>
                    </li>
                    <li class="dropdown-submenu">
                        <a class="dropdown-item" href="#">Consultas</a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="~/Consultas/Bitacora">Bitácora</a></li>
                            <li><a class="dropdown-item" href="~/Consultas/Errores">Errores</a></li>
                            <li><a class="dropdown-item" href="~/Consultas/ClientesActivos">Clientes activos</a></li>
                            <li><a class="dropdown-item" href="~/Consultas/HabitacionesListas">Habitaciones listas</a></li>
                        </ul>
                    </li>

                    <a class="dropdown dropdown-item" href="~/Usuario/Default">Volver a inicio</a>
                </ul>
            </div>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <h6 style="margin: 0 150px 0 25px; margin-top: 10px;" href="#">
                            Usted está en:

                            @*<asp:SiteMapPath ID="SiteMapPath1" runat="server">
                                </asp:SiteMapPath>*@
                        </h6>
                    </li>
                    <a class="nav-link" style="margin: 0 150px 0 5px; color: black;">Bienvenido:</a>
                    @*<asp:LoginName ID="LoginName1" runat="server" />*@

                    <input type="submit" value="Iniciar sesión" onclick="InicioSesion()" class="btn btn-default" />
                    <li class="nav-item active" style="margin: 7px; border-color:black">
                        @*<asp:LoginStatus ID="LoginStatus1" runat="server" style="color: black; " />*@
                    </li>

                </ul>
            </div>

        </div>

    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
    </div>

    <footer id="sticky-footer" class="py-4 bg-dark text-white-50">
        <div class="container text-center">
            <small>Copyright &copy; Proyecto Final Diseño Web II</small>
        </div>
    </footer>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/JQuery/UserJQuery.js"></script>
</body>
</html>
